* {
	font-family: sans-serif;
	background-color: wheat;
	margin: auto;
	padding: 10px 0;
}

h1 {
	text-align: center;
}

button:hover {
	background-color: green;
	color: white;
}
ul {
	padding: 20px;
}

li {
	text-align: left;
	padding: 0.25px;
	margin-left: 35px;
}

div {
	padding: 5px 5px 5px 5px;
}